.sidebar {
    box-sizing: content-box;
    position: fixed;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: none;
    padding-right: 0;
    padding-top: 15px;
    width: 300px;
    // box-sizing: content-box;
    // position: fixed;
    // height: 100vh;
    // overflow-y: scroll;
    // overflow-x: none;
    // width: 300px;
}
